@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
    background: var(--bg1);
}
#menu label {
  margin: 0 0 0 1rem;
}
#sidebarMenu {
    position: absolute;
    left: 0;
    top: 5rem;
    padding: 1.5rem 2rem 1rem;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: var(--bg2);
    border-radius: 0 0 1rem 0;
    z-index: 999;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
}
.sidebarMenuInner li{
    list-style: none;
    color: var(--bg2);
    text-transform: uppercase;
    padding: .7rem;
    cursor: pointer;
}
.sidebarMenuInner li:last-child {
  border-bottom: none;
}
.sidebarMenuInner li a{
    color: var(--on-bg2);
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.sidebarMenuInner li:hover a {
  color: var(--yellow);
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
